# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules/
**/.pnp
**/.pnp.js

# testing
**/coverage

# next.js
**/.next/
**/out/
**/dist/

# production
**/build/

# misc
**/generated/
**/.DS_Store
**/*.pem
**/.vscode
ecosystem.config.js

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/test-results
**/playwright-report

# local env files
**/.env.local
**/.env

# vercel
**/.vercel

# typescript
**/*.tsbuildinfo
**/next-env.d.ts
    
**/*storybook.log
**/storybook-static

**/cypress/screenshots

**/.nvmrc

db/temp/