services:
  # Backend Service
  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
    container_name: loyacrm-backend-docker
    restart: unless-stopped
    env_file:
      - .env.backend
    ports:
      - "4002:4002"
    networks:
      - loyacrm-network

  # Frontend Service
  frontend:
    build:
      context: .
      dockerfile: docker/frontend/Dockerfile
    container_name: loyacrm-frontend-docker
    restart: unless-stopped
    env_file:
      - .env.frontend
    ports:
      - "3002:3002"
    depends_on:
      - backend
    networks:
      - loyacrm-network

networks:
  loyacrm-network:
    driver: bridge